<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Theme Template for BootsFaces</title>
        <meta name="author" content="Riccardo Massera"></meta>
    </h:head>
    <h:body style="padding-top: 60px">
        <h:outputScript library="holder" name="holder.js" />
        <b:navBar brand="Project name" brandHref="#" fixed="top" inverse="true">
            <b:navbarLinks>
                <b:navLink value="Home" href="#"></b:navLink>
                <b:navLink value="About" href="#about"></b:navLink>
                <b:navLink value="Contact" href="#contact"></b:navLink>
            </b:navbarLinks>
        </b:navBar>
        <b:container>
            
            <b:jumbotron>
                <h1>BootsFaces Theme example</h1>
                <p>This is a template showcasing the components included in BootsFaces as they appear using current theme. Use it as a starting point to create something more unique by building on or modifying it.</p>
            </b:jumbotron>
            <h1>Buttons</h1>
            <hr/>
            <p>
                <b:button size="lg" value="Default"/>#{' '}
                <b:button size="lg" value="Primary" look="primary"/>#{' '}
                <b:button size="lg" look="success" value="Success"/>#{' '}
                <b:button size="lg" look="info" value="Info"/>#{' '}
                <b:button size="lg" look="warning" value="Warning"/>#{' '}
                <b:button size="lg" look="danger" value="Danger"/>#{' '}
                <b:button size="lg" look="link" value="Link" />
            </p>
            <p>
                <b:button value="Default"/>#{' '}
                <b:button look="primary" value="Primary" />#{' '}
                <b:button look="success" value="Success"/>#{' '}
                <b:button look="info" value="Info"/>#{' '}
                <b:button look="warning" value="Warning"/>#{' '}
                <b:button look="danger" value="Danger"/>#{' '}
                <b:button look="link" value="Link" />
            </p>
            <p>
                <b:button size="sm" value="Default"/>#{' '}
                <b:button size="sm" value="Primary" look="primary"/>#{' '}
                <b:button size="sm" look="success" value="Success"/>#{' '}
                <b:button size="sm" look="info" value="Info"/>#{' '}
                <b:button size="sm" look="warning" value="Warning"/>#{' '}
                <b:button size="sm" look="danger" value="Danger"/>#{' '}
                <b:button size="sm" look="link" value="Link" />
            </p>
            <p>
                <b:button size="xs" value="Default"/>#{' '}
                <b:button size="xs" value="Primary" look="primary"/>#{' '}
                <b:button size="xs" look="success" value="Success"/>#{' '}
                <b:button size="xs" look="info" value="Info"/>#{' '}
                <b:button size="xs" look="warning" value="Warning"/>#{' '}
                <b:button size="xs" look="danger" value="Danger"/>#{' '}
                <b:button size="xs" look="link" value="Link" />
            </p>
            
            <h1>Labels</h1>
            <h1>
                <b:label text="Default"/>#{' '}
                <b:label text="Primary" severity="primary"/>#{' '}
                <b:label text="Success" severity="success"/>#{' '}
                <b:label text="Info" severity="info"/>#{' '}
                <b:label text="Warning" severity="warning"/>#{' '}
                <b:label text="Danger" severity="danger"/>
            </h1>
            <h2>
                <b:label text="Default"/>#{' '}
                <b:label text="Primary" severity="primary"/>#{' '}
                <b:label text="Success" severity="success"/>#{' '}
                <b:label text="Info" severity="info"/>#{' '}
                <b:label text="Warning" severity="warning"/>#{' '}
                <b:label text="Danger" severity="danger"/>
            </h2>
            <h3>
                <b:label text="Default"/>#{' '}
                <b:label text="Primary" severity="primary"/>#{' '}
                <b:label text="Success" severity="success"/>#{' '}
                <b:label text="Info" severity="info"/>#{' '}
                <b:label text="Warning" severity="warning"/>#{' '}
                <b:label text="Danger" severity="danger"/>
            </h3>
            <h4>
                <b:label text="Default"/>#{' '}
                <b:label text="Primary" severity="primary"/>#{' '}
                <b:label text="Success" severity="success"/>#{' '}
                <b:label text="Info" severity="info"/>#{' '}
                <b:label text="Warning" severity="warning"/>#{' '}
                <b:label text="Danger" severity="danger"/>
            </h4>
            <h5>
                <b:label text="Default"/>#{' '}
                <b:label text="Primary" severity="primary"/>#{' '}
                <b:label text="Success" severity="success"/>#{' '}
                <b:label text="Info" severity="info"/>#{' '}
                <b:label text="Warning" severity="warning"/>#{' '}
                <b:label text="Danger" severity="danger"/>
            </h5>
            <hr/>
            <h1>Tables</h1>
            <b:row>
                <b:column col-md="6">
                    <h:dataTable styleClass="table" value="#{itemBean.items}" var="item" rows="5">
                        <h:column>
                            <f:facet name="header"><h:outputText value="#" /></f:facet>
                            <h:outputText value="#{itemBean.items.rowIndex + 1}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Item" /></f:facet>
                            <h:outputText value="#{item.name}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Last Name" /></f:facet>
                            <h:outputText value="#{item.code}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Username" /></f:facet>
                            <h:outputText value="#{item.price}" />
                        </h:column>
                    </h:dataTable>
                </b:column>
                <b:column col-md="6">
                    <h:dataTable styleClass="table table-striped" value="#{itemBean.items}" var="item" first="5" rows="5">
                        <h:column>
                            <f:facet name="header"><h:outputText value="#" /></f:facet>
                            <h:outputText value="#{itemBean.items.rowIndex + 1}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Item" /></f:facet>
                            <h:outputText value="#{item.name}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Last Name" /></f:facet>
                            <h:outputText value="#{item.code}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Username" /></f:facet>
                            <h:outputText value="#{item.price}" />
                        </h:column>
                    </h:dataTable>
                </b:column>
            </b:row>
            <b:row>
                <b:column col-md="6">
                    <h:dataTable styleClass="table table-bordered" value="#{itemBean.items}" var="item" rows="5">
                        <h:column>
                            <f:facet name="header"><h:outputText value="#" /></f:facet>
                            <h:outputText value="#{itemBean.items.rowIndex + 1}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Item" /></f:facet>
                            <h:outputText value="#{item.name}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Last Name" /></f:facet>
                            <h:outputText value="#{item.code}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Username" /></f:facet>
                            <h:outputText value="#{item.price}" />
                        </h:column>
                    </h:dataTable>
                </b:column>
                <b:column col-md="6">
                    <h:dataTable styleClass="table table-condensed" value="#{itemBean.items}" var="item" first="5" rows="5">
                        <h:column>
                            <f:facet name="header"><h:outputText value="#" /></f:facet>
                            <h:outputText value="#{itemBean.items.rowIndex + 1}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Item" /></f:facet>
                            <h:outputText value="#{item.name}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Last Name" /></f:facet>
                            <h:outputText value="#{item.code}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Username" /></f:facet>
                            <h:outputText value="#{item.price}" />
                        </h:column>
                    </h:dataTable>
                </b:column>
            </b:row>
            
            <hr/>
            <h1>Alerts</h1>
            <b:alert severity="success" closable="true"><strong>Well done!</strong> You successfully read this important alert message.</b:alert>
            <b:alert severity="info" closable="true"><strong>Heads up!</strong> This alert needs your attention, but it's not super important. </b:alert>
            <b:alert severity="warning" closable="true"><strong>Warning!</strong> Best check yo self, you're not looking too good. </b:alert>
            <b:alert severity="danger" closable="true"><strong>Oh snap!</strong> Change a few things up and try submitting again. </b:alert>
            <b:alert severity="info" title="Heads up!" closable="true">This alert needs your attention, but it's not super important. </b:alert>
            <hr/>
            <h1>Thumbnails</h1>
            <b:row>
                <b:column col-md="3">
                    <b:thumbnail>
                        <img data-src="holder.js/200x200" alt="Generic placeholder thumbnail"/>
                    </b:thumbnail>
                </b:column>
            </b:row>
            <hr/>
            <h1>Dropbuttons</h1>
            <b:row>
                <b:column span="12">
                    <b:dropButton value="Default">
                        <b:navLink value="Action" href="#"></b:navLink>
                        <b:navLink value="Another action" href="#"></b:navLink>
                        <b:navLink value="Something else here" href="#"></b:navLink>
                        <b:navLink></b:navLink>
                        <b:navLink header="Nav header"></b:navLink>
                        <b:navLink value="Separated link" href="#"></b:navLink>
                        <b:navLink value="One more separated link" href="#"></b:navLink>
                    </b:dropButton> 
                    <b:dropButton look="primary" value="Primary">
                        <b:navLink value="Action" href="#"></b:navLink>
                        <b:navLink value="Another action" href="#"></b:navLink>
                        <b:navLink value="Something else here" href="#"></b:navLink>
                        <b:navLink></b:navLink>
                        <b:navLink header="Nav header"></b:navLink>
                        <b:navLink value="Separated link" href="#"></b:navLink>
                        <b:navLink value="One more separated link" href="#"></b:navLink>
                    </b:dropButton> 
                    <b:dropButton look="success" value="Success">
                        <b:navLink value="Action" href="#"></b:navLink>
                        <b:navLink value="Another action" href="#"></b:navLink>
                        <b:navLink value="Something else here" href="#"></b:navLink>
                        <b:navLink></b:navLink>
                        <b:navLink header="Nav header"></b:navLink>
                        <b:navLink value="Separated link" href="#"></b:navLink>
                        <b:navLink value="One more separated link" href="#"></b:navLink>
                    </b:dropButton>
                    <b:dropButton look="info" value="Info">
                        <b:navLink value="Action" href="#"></b:navLink>
                        <b:navLink value="Another action" href="#"></b:navLink>
                        <b:navLink value="Something else here" href="#"></b:navLink>
                        <b:navLink></b:navLink>
                        <b:navLink header="Nav header"></b:navLink>
                        <b:navLink value="Separated link" href="#"></b:navLink>
                        <b:navLink value="One more separated link" href="#"></b:navLink>
                    </b:dropButton>
                    <b:dropButton look="warning" value="Warning">
                        <b:navLink value="Action" href="#"></b:navLink>
                        <b:navLink value="Another action" href="#"></b:navLink>
                        <b:navLink value="Something else here" href="#"></b:navLink>
                        <b:navLink></b:navLink>
                        <b:navLink header="Nav header"></b:navLink>
                        <b:navLink value="Separated link" href="#"></b:navLink>
                        <b:navLink value="One more separated link" href="#"></b:navLink>
                    </b:dropButton>
                    <b:dropButton look="danger" value="Danger">
                        <b:navLink value="Action" href="#"></b:navLink>
                        <b:navLink value="Another action" href="#"></b:navLink>
                        <b:navLink value="Something else here" href="#"></b:navLink>
                        <b:navLink></b:navLink>
                        <b:navLink header="Nav header"></b:navLink>
                        <b:navLink value="Separated link" href="#"></b:navLink>
                        <b:navLink value="One more separated link" href="#"></b:navLink>
                    </b:dropButton>
                </b:column>
            </b:row>
            <hr/>
            <h1>Navs</h1>
            <b:tabView activeIndex="0">
                <b:tab title="Home" ></b:tab>
                <b:tab title="Profile" ></b:tab>
                <b:tab title="Messages" ></b:tab>
            </b:tabView>
            <b:tabView styleClass="nav-pills" activeIndex="0">
                <b:tab title="Home" ></b:tab>
                <b:tab title="Profile" ></b:tab>
                <b:tab title="Messages" ></b:tab>
            </b:tabView>
            <hr/>
            <h1>Navbars</h1>
            <b:navBar brand="Project name" brandHref="#">
                <b:navbarLinks>
                    <b:navLink value="Home" href="#"></b:navLink>
                    <b:navLink value="About" href="#"></b:navLink>
                    <b:navLink value="Contact" href="#"></b:navLink>
                    <b:dropMenu value="Dropdown">
                        <b:navLink value="Action" href="#"></b:navLink>
                        <b:navLink value="Another action" href="#"></b:navLink>
                        <b:navLink value="Something else here" href="#"></b:navLink>
                        <b:navLink></b:navLink>
                        <b:navLink header="Nav header"></b:navLink>
                        <b:navLink value="Separated link" href="#"></b:navLink>
                        <b:navLink value="One more separated link" href="#"></b:navLink>
                    </b:dropMenu>
                </b:navbarLinks>
            </b:navBar>
            
            <b:navBar brand="Project name" brandHref="#" inverse="true">
                <b:navbarLinks>
                    <b:navLink value="Home" href="#"></b:navLink>
                    <b:navLink value="About" href="#"></b:navLink>
                    <b:navLink value="Contact" href="#"></b:navLink>
                    <b:dropMenu value="Dropdown">
                        <b:navLink value="Action" href="#"></b:navLink>
                        <b:navLink value="Another action" href="#"></b:navLink>
                        <b:navLink value="Something else here" href="#"></b:navLink>
                        <b:navLink></b:navLink>
                        <b:navLink header="Nav header"></b:navLink>
                        <b:navLink value="Separated link" href="#"></b:navLink>
                        <b:navLink value="One more separated link" href="#"></b:navLink>
                    </b:dropMenu>
                </b:navbarLinks>
            </b:navBar>
            <hr/>
            <h1>Panels</h1>
            <b:row>
                <b:column col-md="4">
                    <b:panel title="Panel title">Panel content</b:panel>
                    <b:panel title="Panel title" look="primary">Panel content</b:panel>
                </b:column>
                <b:column col-md="4">
                    <b:panel title="Panel title" look="success">Panel content</b:panel>
                    <b:panel title="Panel title" look="info">Panel content</b:panel>
                </b:column>
                <b:column col-md="4">
                    <b:panel title="Panel title" look="warning">Panel content</b:panel>
                    <b:panel title="Panel title" look="danger">Panel content</b:panel>
                </b:column>
            </b:row>
            <h1>Wells</h1>
            <b:well>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
            </b:well>
            <hr/>
        </b:container>
    </h:body>
</html>