<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Demo8 back office</title>
    </h:head>
    <h:body style="padding-top: 60px">
        <b:navBar brand="Demo 8" brandHref="#{request.contextPath}/" fixed="top" inverse="true">
            <b:navbarLinks>
                <b:navLink value="Products" href="#{request.contextPath}/"></b:navLink>
                <b:navLink value="Categories" href="#{request.contextPath}/categories.xhtml"></b:navLink>
                <b:navLink value="Logout" href="#{request.contextPath}/logout"></b:navLink>
            </b:navbarLinks>
        </b:navBar>
        <b:container>
        
        	<ui:insert name="content">
        	</ui:insert>
        
        </b:container>
    </h:body>
</html>