<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>BootsFaces Basic Page</title>
    </h:head>
    <h:body>
        <b:container>
            <b:row>
                <b:column>
                    <h1>Hello, world!</h1>
                </b:column>
            </b:row>
        </b:container>
    </h:body>
</html>
         