<ui:composition template="templates/base.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="content">
	
	<h:form id="frm">
	
		<b:row>
		<b:column>
			<b:panel title="Products" look="info" collapsiable="false">
				<b:buttonGroup>
					<b:button value="Add"
						href="#{request.contextPath}/productForm.xhtml" />
					<b:button value="List Categories"
						href="#{request.contextPath}/categories.xhtml"/>
				</b:buttonGroup>
				
				<b:dataTable value="#{productsViewBean.products}" var="product"
				responsive="true">
					<b:dataTableColumn value="#{product.id}"/>
					<b:dataTableColumn value="#{product.title}"/>
					<b:dataTableColumn value="#{product.price}"/>
					<b:dataTableColumn value="#{product.category.title}" label="Category"/>
					<b:dataTableColumn label="Actions" width="15px" orderable="false">
						<b:commandLink look="default"
						href="#{request.contextPath}/productForm.xhtml?id=#{product.id}"
						icon-awesome="fa-eye"/>
					</b:dataTableColumn>
				</b:dataTable>
			</b:panel>
		</b:column>
	</b:row>
</h:form>

	</ui:define>

</ui:composition>